.title {
  font-family: "Exo 2", sans-serif;
  color: #ED601A;
  font-size: 3em;
  
  display: block;
}

.subtitle {
  font-family: "Exo 2", sans-serif;
  font-style: italic;
  font-weight: 100;
  color: #E8E8E8;
  font-size: 1em;
  
  display: block;
}
